{% extends 'default/list.html.twig' %}

{% block title %}Authors{% endblock %}

{% block table_header_columns %}
<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
{% endblock %}

{% block table_body_columns %}
<td class="px-6 py-4 whitespace-nowrap">{{ entity.name }}</td>
{% endblock %}
