{% extends 'base.html.twig' %}

{% set backlink = path('newBook')  %}
{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    {% include 'alert.html.twig' %}

    <div style="width: 30%; margin: 0 auto;">
        {{ form(form) }}
    </div>

{% endblock %}
