<div class="navbar">
    {% if app.session.get('isLogin') %}
        <a href="{{ path('newReader') }}">Add Reader</a>
        <a href="{{ path('newBook') }}">Add Book</a>
        <a href="{{ path('logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('login') }}">Login</a>
    {% endif %}
</div>
