{% extends 'base.html.twig' %}

{% set backlink = path('homepage')  %}
{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    {% include 'alert.html.twig' %}

    <div style="width: 30%; margin: 0 auto;">
        {{ form(form) }}
    </div>

    <div style="width: 30%; margin: 20px auto;">
        <h3>Books</h3>
        {% for book in books %}
            <div class="book-row">
                <span>{{ book.name }}</span>

                <a class="deleteLink" onclick="return confirm('Are you sure?');" href="{{ path('deleteBook', {book: book.id}) }}">Delete</a>
                <a class="editLink" href="{{ path('editBook', {book: book.id}) }}">Edit</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block backlink %}
    asdasda
{% endblock %}
